<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- 變數:LOG位置 -->
	<variable name="logDirectory" value="/home/gpm/GPM_AGV_LOG" />

	<!-- the targets to write to -->
	<targets>
		<!-- 文件目标，根據日期和類別名稱分資料夾 -->
		<target xsi:type="AsyncWrapper" name="asyncFileTarget" bufferSize="5000" overflowAction="Grow" timeToSleepBetweenBatches="1000" batchSize="100">
			<target xsi:type="File" name="fileTarget" fileName="${logDirectory}/${date:format=yyyy-MM-dd}/${logger:shortName=true}/${date:format=yyyy-MM-dd HH}.log"
					layout="${longdate} |${level}| ${message}  ${exception:format=ToString,Data:maxInnerExceptionLevel=10}" />
		</target>

		<target xsi:type="AsyncWrapper" name="asyncHandshake" bufferSize="5000" overflowAction="Grow" timeToSleepBetweenBatches="1000" batchSize="100">
			<target xsi:type="File" name="handshake" fileName="${logDirectory}/${date:format=yyyy-MM-dd}/${logger}/${date:format=yyyy-MM-dd HH}.log"
					layout="${longdate} |${level}| ${message}  ${exception:format=ToString,Data:maxInnerExceptionLevel=10}" />
		</target>

		<target xsi:type="AsyncWrapper" name="asyncAllInOne" bufferSize="5000" overflowAction="Grow" timeToSleepBetweenBatches="1000" batchSize="100">
			<target xsi:type="File" name="all-in-one" fileName="${logDirectory}/${date:format=yyyy-MM-dd}/${date:format=yyyy-MM-dd HH}.log"
					layout="${longdate} |${level}| ${message}  ${exception:format=ToString,Data:maxInnerExceptionLevel=10}" />
		</target>

		<!-- 自己的日志文件目标，使用一些 ASP.NET 核心渲染器添加额外的 Web 详细信息 -->
		<target xsi:type="AsyncWrapper" name="asyncOwnFileWeb" bufferSize="5000" overflowAction="Grow" timeToSleepBetweenBatches="1000" batchSize="100">
			<target xsi:type="File" name="ownFile-web" fileName="${logDirectory}/${date:format=yyyy-MM-dd}/nlog-AspNetCore-own-${shortdate}.log"
					layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />
		</target>

		<!-- 用于托管生命周期消息的控制台目标，以改善 Docker / Visual Studio 启动检测 -->
		<target xsi:type="Console" name="console-log" layout="[${longdate}] |${level}| ${message}  ${exception:format=ToString,Data:maxInnerExceptionLevel=10}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>

		<!-- 忽略規則 |  maxlevel="Warning" => 表示僅記錄Warning以上 -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" final="true" />
		<logger name="System.Net.Http.*" minlevel="Info" final="true" />
		<logger name="Microsoft.*"  maxlevel="Warning" final="true" />
		<logger name="HttpHelperLog" maxlevel="Warning" writeTo="" final="true"/>
		<logger name="GPMVehicleControlSystem.Tools.LinuxTools" writeTo="" final="true"/>
		<logger name="GPMVehicleControlSystem.Service.SystemLoadingMonitorBackgroundServeice" writeTo="" final="true"/>
		<logger name="HandshakeLog" minlevel="Trace" writeTo="asyncHandshake" final="true" />
		<logger name="AGVSystemCommonNet6.AGVDispatch.*"  maxlevel="Warning"  final="true" />
		<logger name="SystemLoadingMonitorBackgroundServeice"  maxlevel="Info"  final="true" />
		<logger name="*" minlevel="Trace" writeTo="asyncFileTarget" />
		<logger name="*" minlevel="Trace" writeTo="asyncAllInOne" />
		<logger name="*" minlevel="Info" writeTo="console-log" />
		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="*" minlevel="Info" writeTo="asyncOwnFileWeb" />

	</rules>
</nlog>
